@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Noto+Serif+Georgian:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --navlink-font-family: "Federo", sans-serif;
    --webpage-font-family: "Noto Serif Georgian", serif;
    --webpage-secondary-font-family:"Noto Serif Georgian", serif;
    --webpage-special-font-family:"Roboto Condensed", sans-serif;
}

.navbar-nav .nav-link{
    transition: transform .5s ease-in-out, filter 1.5s ease-in-out;
}


.navbar .navbar-brand{
    background-image: url(./assets/aseel_logo.png);
    background-size: contain;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.navbar-nav .nav-item .nav-link{
    padding: 30px 25px 10px 25px;
    color: #fff;
    font-family: var(--navlink-font-family);
}

.navbar-nav .nav-item .nav-link:hover{
    transform: scale(1.2);
    filter: blur(1px);
    animation: blureffect .5s ease-in-out forwards;
    color: #fff;
}

@keyframes blureffect{
    0%{
        filter: blur(0.10px);
    }
    75%{
        filter:blur(0.20px);
    }
    100%{
        filter: blur(0);
    }
}
.navbar-nav .nav-item.dropdown .dropdown-menu{
    display: none;
}

.navbar-nav .nav-item.dropdown:hover .dropdown-menu{
    display: block;
}

.navbar{
    background-color: #000;
}

.navbar-nav{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-brand{
    position: absolute;
    left: 0;
}

.bg-black{
    background-color: #000;
}



/* landing page styling css */

.landing-page{
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 100vh;
    color: #fff;
    font-family: var(--webpage-font-family);
}

.landing-page .welcome-section .welcome-heading{
    font-size: 63px;
    font-weight: 400;
}

.explore-text{
    font-size: 24px;
    text-align: center;
}

.property-explore-text{
    text-decoration: dotted;
}


/* landing page off plan listing style */

.off-plan-listing-container{
    border: 1px solid #C89838;
    padding: 40px;
}

.off-plan-listing-form .custom-select option{
    font-size: 12px;
}

.off-listing-sub-text a{
    text-decoration: none;
    color: #fff;
}

.custom-select option{
    background-color: #fff;
    color: #a3a1a1;
}

.custom-select option[value="default"]{
    background-color: #000;
    color: #fff;
    font-size: 12px;
}

.explore-btn{
    background-color: #C89838;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    height: 100%;
    padding: 10px 25px;
}

/* off plan listing section styling */

.off-plan-listing-section{
    background-color: #000000f7;
}

.off-plan-heading h2{
    color: #C89838;
    font-family: var(--webpage-secondary-font-family);
    font-weight: 400;
}

.card{
    margin: 10px;
    border: 2px solid #C89838;
}

.card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.card .card-body{
    background-color: #212121;
    padding: 3px 1rem 0 1rem;
}

.card .card-body p{
    color: #fff;
    margin: 0;
    font-family: var(--webpage-secondary-font-family);
    font-size: 13px;
}

.card .card-btn{
    border: 1px solid #fff;
    background-color: #C89838;
    color: #fff;
    font-family: var(--navlink-font-family);
    font-weight: 400;
    padding: 5px 25px 5px 25px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.card .card-btn:hover{
    transform: scale(1.1);
    background-color: #000;
    color: #fff;
}


.card .card-body .card-text{
    display: block;
}

.card .card-body .card-text i{
    color: #C89838;
}
/* #0F0F0FF0 */


/* sell property styling */

.sell-properties-section{
    background-color: #000000f7;
}

.sell-properties-section .sell-properties-subsection{
    border: 1px solid #C89838;
}

.sell-properties-section .text-property-section .property-heading{
    color: #C89838;
    border-top: 1px solid #C89838;
    border-left: 1px solid #C89838;
}

.sell-properties-section .text-property-section .property-heading h2{
    font-size: 23px;
    font-family: var(--webpage-secondary-font-family);
}

.sell-properties-section .text-property-section .text-section p{
    color: #fff;
    font-family: var(--webpage-special-font-family);
    font-weight: 300;
}

.sell-properties-section .img-div img{
    background-size: cover;
    height: 100%;
    width: 100%;
}

.sell-properties-section .text-property-section .sell-now-btn button{
    background-color: #C89838;
    color: #000;
    padding: 10px 15px 10px 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 25%;
}

/* img bg section styling */

.img-container {
    position: relative;
  }
  
  .img-container img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .img-overlay-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay-text {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
  }

  /* services styling */

  .services-section{
    background-color: #000000f7;
  }

  .services-card{
    margin: 10px;
    border: 2px solid #C89838;
  }

  .services-card img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.services-card .services-card-body .line-div hr{
    height: 2px;
    background-color: #C89838;
    width: 20%;
    opacity: 1;
    margin: 8px 0;
}

  .services-section .services-text-div .services-text{
    color: #fff;
    text-align: center;
    font-family: var(--navlink-font-family);
    text-decoration: none;
  }

  .services-card .services-card-body .services-card-title{
    color: #fff;
    margin: 0;
    font-family: var(--webpage-secondary-font-family);
    font-size: 18px;
  }